.chilis{
    width: 100px;
}


@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body{
    font-family: spline sans,sans-serif;
    color: #777;
    line-height: 1.7;
    height: 1800px;
}
/* navbar */
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #222;

}
a{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}
a:hover{
    color: #F58d17;
}
.btn{
    border-radius: 0;
    padding:14PX 38PX ;
}
.btn-brand{
    background-color: red;
    color: white;
    font-family: 500;
    
}
.btn-brand:hover{
    background-color: rgb(240, 99, 99);
    color: white;

}
/* background */
.slide-1 {
    background: linear-gradient(rgba(0, 0 ,0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/cover1.jpg);
} 
.slide-2{
    background: linear-gradient(rgba(0, 0 ,0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/cover2.jpg);
}
.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* arrow */
.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(0, 0 ,0, 0.6);
    margin: auto;
    width: 40px;
    height: 70px;
}
/* heroslider */
#heroslider h6::after,
#heroslider h6::before{
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 10px;
    vertical-align: middle;
    content: "";
    display: inline-block;
}
/* about */
section{
    padding-top: 120px;
    padding-bottom: 120px;
   
}
img{
    width: 100%
   
}